body {
	font-family: "Nunito", Arial, sans-serif;
	font-weight: 300;
}

.wrapper {
	width: 94%;
	margin: 0 3%;
}

h1, h2, h3, h4 {
	font-weight: 400;
	margin: 10px 0 0;
	padding: 0;
}

h2 {
	margin-bottom: 10px;
}

.form-resultado {
	margin: 0 auto;
	position: relative;
	width: 30%;
}

label {
	display: block;
	padding-top: 10px;
}

footer p {
	font-size: 0.8em;
	text-align: center;
}
